/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
/* https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77 */

/* Color Base */
:root {
  --vp-c-green-light: #76c893;
  --vp-c-green: #52b69a;
  --vp-c-green-blue: #34a0a4;
  --vp-c-blue: #168aad;
  --vp-c-blue-darker: #1a759f;
  
  /* 设置字体颜色 */
  /* --vp-home-hero-name-color: transparent; */
  /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff); */
  
  /* 设置右图像渐变 */
  --vp-home-hero-image-background-image: linear-gradient( -45deg, #184e77 50%, #b5e48c 50% );
  --vp-home-hero-image-filter: blur(150px);

}

 :root {
  --vp-c-brand: var(--vp-c-green-blue);
  --vp-c-brand-light: var(--vp-c-green);
  --vp-c-brand-lighter: var(--vp-c-green-light);
  /* --vp-c-brand-lightest: #bcc0ff; */
  --vp-c-brand-dark: var(--vp-c-blue);
  --vp-c-brand-darker: var(--vp-c-blue-darker);
  /* --vp-c-brand-dimm: rgba(100, 108, 255, 0.08); */
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand) ,
    var(--vp-c-brand-light)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand),
    var(--vp-c-brand-light)
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}



/* content maxWidth*/
.VPDoc.has-aside .content-container {
  max-width: 60rem !important;
}

.VPContent {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 auto;
    width: 100%;
} */

.VPContent.is-home {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 960px) {
    .VPContent {
        padding-top: var(--vp-nav-height);
    }

    .VPContent.has-sidebar {
        margin: 0;
        padding-left: var(--vp-sidebar-width);
    }
}

@media (min-width: 1440px) {
    .VPContent.has-sidebar {
        padding-right: calc((100vw - var(--vp-layout-max-width)) / 2);
        padding-left: calc((100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width));
    }
}

/* h1 color*/
.vp-doc h1 {
  color: var(--vp-c-brand)
}

/* h2 color*/
.vp-doc h2 {
  font-size: 26px;
  color: var(--vp-c-brand)
}

/* h3 color*/
.vp-doc h3 {
  /* border-top: 1px solid var(--vp-c-divider); */
  padding-top: 12px;
  font-size: 22px;
  color: var(--vp-c-brand)
}


.vp-doc h4 {
  margin: 32px 0 0;
  letter-spacing: -0.005em;
  line-height: 24px;
  font-size: 18px;
  color: var(--vp-c-brand-light)
}